body {
	background: #2980b9;
}

/* --------- form --------- */

.form {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background: lighten(#16a085, 10%);
	display: inline-block;
	padding: 64px 48px;
	@include border-radius(10px);
	border: 3px dashed #fff;
}

.form__label {
	display: block;
	margin-bottom: 40px;
}

.form__submit {
	background: #c0392b;
	border: 0 none;
	width: 150px;
	height: 40px;
	text-transform: uppercase;
	color: #ffffff;
	font-weight: bold;
	@include border-radius(5px);
}

.form__submit--wrap {
	width: 100%;
	text-align: center;
//	background: #d35400;
}

.form__label-title {
	display: inline-block;
	width: 75px;
	color: #ffffff;
	font-weight: bold;
}

.form__label-input {
	padding: 5px 10px;
	font-size: 14px;
	line-height: 16px;
	border: 0 none;
	background: #fff;
	@include border-radius(5px);
}

/* --------- tooltip --------- */


.divider {
	margin: 50px;
}

.tooltip {
	display: inline-block;
	position: absolute;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-moz-transition: opacity .3s;
	-ms-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}

.tooltip__inner {
	max-width: 200px;
	padding: 3px 8px;
	color: #ffffff;
	text-align: center;
	text-decoration: none;
	background-color: #000;
	border-radius: 4px;
	font-size: 12px;
	white-space: nowrap;

	&:after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid;
		border-width: 5px;
	}
}

.tooltip_right, .tooltip_left {
	padding: 0 5px;

	.tooltip__inner {
		&:after {
			top: 50%;
			margin-top: -5px;
		}
	}
}


.tooltip_top, .tooltip_bottom {
	padding: 5px 0px;

	.tooltip__inner {
		&:after {
			left: 50%;
			margin-left: -5px;
		}
	}
}

//.tooltip_top {
//	.tooltip__inner {
//		&:after {
//			bottom: 0;
//			border-width: 5px 5px 0 5px;
//			border-top-color: #000;
//		}
//	}
//}
//
//.tooltip_left {
//	.tooltip__inner {
//		&:after {
//			right: 0;
//			border-width: 5px 0 5px 5px;
//			border-left-color: #000;
//
//		}
//	}
//}
//
//.tooltip_bottom {
//	.tooltip__inner {
//		&:after {
//			top: 0;
//			border-width: 0 5px 5px 5px;
//			border-bottom-color: #000;
//		}
//	}
//}
//
//.tooltip_right {
//	.tooltip__inner {
//		&:after {
//			left: 0;
//			border-width: 5px 5px 5px 0;
//			border-right-color: #000;
//		}
//	}
//}


$positions: top, left, right, bottom;

@each $position in $positions {

	$length : length($positions);
	$opposite : nth($positions, ($length - index($positions, $position)) + 1);

	.tooltip_#{$position} {
		.tooltip__inner {
			&:after {
				#{$opposite} : 0;
				border-#{$position}-color: #000;
				border-#{$opposite}-width: 0px;
			}
		}
	}
}

/* --------- popups --------- */

.popup {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: none;
}

.popup__overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(00, 00, 00, .5);
}

.popup__content {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	-o-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	padding: 50px;
	@include border-radius(10px);
	background: #ffffff;
}

.popup__close {
	display: block;
	background: url('/img/close-btn.png') 0 0 no-repeat;
	width: 36px;
	height: 35px;
	position: absolute;
	top: -18px;
	right: -18px;
}

.error {
	color: firebrick;
	font-weight: bold;
}


